
        .minimalist .grid-item:not(.Clone), .minimalist .HorizEl:not(.selected){
            background:none;
            border-radius: 6px;
        }

        .minimalist .Clone,  .minimalist .selected{
            border-radius: 6px;
        }

        
        .minimalist .NonMetal{border-bottom: 0px solid var(--NonMetal);color: var(--NonMetalMinimal);}
        .minimalist .NobleGas{border-bottom: 0px solid var(--NobleGas);color: var(--NobleGasMinimal);}
        .minimalist .AlkalineMetal{border-bottom: 0px solid var(--AlkalineMetal);color: var(--AlkalineMetalMinimal);}
        .minimalist .AlkalineEarthMetal{border-bottom: 0px solid var(--AlkalineEarthMetal);color: var(--AlkalineEarthMetalMinimal);}
        .minimalist .Metalloid{border-bottom: 0px solid var(--Metalloid);color: var(--MetalloidMinimal);}
        .minimalist .PostTransitionMetal{border-bottom: 0px solid var(--PostTransitionMetal);color: var(--PostTransitionMetalMinimal);}
        .minimalist .Halogen{border-bottom: 0px solid var(--Halogen);color: var(--HalogenMinimal);}
        .minimalist .TransitionMetal{border-bottom: 0px solid var(--TransitionMetal);color: var(--TransitionMetalMinimal);}
        .minimalist .Lanthanoids{border-bottom: 0px solid var(--Lanthanoids);color: var(--LanthanoidsMinimal);}
        .minimalist .Actinoids{border-bottom: 0px solid var(--Actinoids);color: var(--ActinoidsMinimal);}
